@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}


.boards {
    display: flex;
    width: 100%;
    justify-content: space-around;
} 